@model IEnumerable<FinalProject.Domain.Model.Product>
@{
    ViewBag.Title = "Home Page";

    int index = 0;
 }

<div >
    <br />
    <br />
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <p>
            Item Category: @Html.TextBox("Category")

            <br />
            <br />
            <input type="submit" value="Search" />
        </p>
    }
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div style="height:200px">

                <a href="@Url.Action("Details", "Product", new { id=item.ProductId})">
                    <img src="@item.ImageUrl" class="img-responsive" alt="">

                </a>
            </div>
            <div>
                <h5><a href="@Url.Action("Details", "Product", new { id=item.ProductId})">@item.Title</a></h5>

            </div>
            <div>
                @*@using (Html.BeginForm("UpdateItemQtyInCart", "ShoppingCart"))
                    {
                        @model FinalProject.Web.Models.Order
                        @Html.AntiForgeryToken()
                        @Html.Hidden("frmIndex", index.ToString())
                        @Html.EditorFor(modelItem => Model., new { htmlAttributes = new { @class = "form-control", @type = "number", @style = "width:75px" } })
                        <input type="submit" value="Update" class="btn btn-default" />
                        ///@Html.ValidationMessageFor(modelItem => item.Quantity, "", new { @class = "text-danger" })
                    }*@
            </div>
        </div>
    }

</div>
<div class="form-horizontal">

</div>
