@model FinalProject.Domain.Model.Customer
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ApplicationUserId)*@
        </dt>
    </dl>
</div>
<p>
   @* @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
